.registro-form-containerLogin {
    display: flex;
    max-width: 800px;
    margin: auto;
    
    margin-bottom: 4%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .registro-image-containerLogin {
    flex: 1;
    text-align: center;
  }
  
  .registro-imageLogin {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
    
  }
  
  .registro-formLogin {
    margin-left: 35px;
    margin-right: 35px;
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  form {
   display: grid;
   grid-template-columns: repeat(2);
  }
  
  label {
    margin-bottom: 2px;
  }
  
  input {
    padding: 2px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .Text{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .sesionButton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  
